
   .login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    background-color: #cbcbdd;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 25px 35px;
    border-radius: 15px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
  }
  
  .login-container .input-field {
    width: 90%;
    padding: 5px 10px; 
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px; 
    background-color: #f8f9fd;
    color: #333;
    transition: all 0.3s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10px; 
  }
  
  .login-container .input-field:focus {
    border-color: #4c75f6;
    outline: none;
    background-color: #fff;
  }
  
  .login-container .input-field:hover {
    border-color: #a0b2ff;
    background-color: #f1f6ff;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #4c75f6;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #3650d6;
    transform: translateY(-2px);
  }
  
  .login-button:active {
    background-color: #2b3bba;
    transform: translateY(0);
  }
  
  .or-text {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
  }
  
  .google-login-container {
    margin-top: 25px;
  }
  
  .google-login-button {
    width: 100%;
    padding: 10px;
    background-color: #4285f4;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .google-login-button:hover {
    background-color: #357ae8;
  }
  
  .google-login-button img {
    width: 18px;
    margin-right: 8px;
  }
  

