.single-comment {
    display: flex;
    align-items: flex-start;
    gap: 15px; 
    margin-bottom: 20px; 
    border-bottom: 1px solid #ddd; 
    padding-bottom: 15px;
  }
  
  .comment-left {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ccc; 
  }
  
  .comment-right {
    flex-grow: 1;
    text-align: left; 
    display: flex;
    flex-direction: column;
    gap: 8px; 
  }
  
  .comment-author {
    font-size: 1.1em;
    /* font-weight: bold;  */
    color: #000; 
    text-align: left;
  }
  
  .comment-content {
    font-size: 1.1em;
    font-weight: bold; 
    color: #000; 
    /* line-height: 1.5; */
    word-wrap: break-word;
  }
  
  .comment-date {
    font-size: 0.9em;
    color: #777; 
  }
  